.faceitPlayer {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.faceitPlayer h1 {
  font-size: 30px;
}
.faceitPlayer p {
  font-size: 20px;
}
.playerData {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.playerAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.playerElo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.playerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
