.faceitStats {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search {
  height: 36vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-component h1 {
  margin-bottom: 10px;
  font-size: 30px;
}
.hero-component {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.levelTitle {
  font-size: 43px !important;
  background-color: rgb(255, 85, 0);
  padding: 5px;
  border-radius: 5px;
}
@media (min-width: 895px) {
  .levelTitle {
    display: none;
  }
}
