.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: black;
}
.intro-text {
  width: 75%;
  text-align: center;
}
.main-text {
  font-size: 35px !important;
}
.intro-text p {
  color: white;
  font-size: 30px;
}

@media (max-width: 768px) {
  .intro-text p {
    font-size: 25px;
  }
  .main-text {
    font-size: 30px;
  }
}
