.reviews-wrapper {
  background-color: black;
  text-align: center;
  width: 100%;
  padding-bottom: 1px;
}

.reviews-headline {
  font-size: 50px;
  margin-bottom: 25px;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 25px;
  padding: 10px;
  flex-wrap: wrap;
}

.review {
  flex: 1;
  max-width: calc(50% - 25px);
  box-sizing: border-box;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  height: 335px;
}

.star {
  width: 150px;
  height: 40px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.profile {
  padding: 10px;
  margin-top: 10px;
  gap: 10px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 984px) {
  .review {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .review {
    max-width: 100%;
  }
}
