.test {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.test img {
  display: none;
}
@media (max-width: 790px) {
  .test img {
    display: block;
    transform: rotate(80deg);
    width: 100px;
    height: 100px;
  }
}
