.contact {
  background: black;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* flex-direction: column; */
  padding-bottom: 40px;
}
label {
  color: white;
}
.first-partc {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px;
  text-align: start;
}
.first-partc h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
.first-partc p {
  font-size: 20px;
}
.form-first {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-second {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-partc {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
.second-partc label {
  font-size: 25px;
}
